.tokens-row {
    display: inline;
}

.tokens-row.tokens-0 {
    display: block;
}

/* highlighting */

.token {
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
}

.highlighted.label {
    margin: 2px;
}

.highlighted.disagreement {
    border: 1px solid black;
    background: #444;
    color: red;
    padding: 1px;
}

.highlighted.passive {
  -webkit-filter: opacity(60%);
  filter: opacity(60%);
}

.highlighted.label-1 {
    background-color: #fffacd;
}

.highlighted.label-2 {
    background-color: #ffefd5;
}

.highlighted.label-3 {
    background-color: #ffdab9;
}

.highlighted.label-4 {
    background-color: #00FA9A
}